name: github-actions
on: [push, pull_request]
env:
  BUILD_IMAGE: bedasoftware/fhirpath-extract:main
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Copy repository
        uses: actions/checkout@v3

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn install
        working-directory: server

      - name: Run tests
        run: yarn test
        working-directory: server

      - name: Run tests
        run: yarn test:e2e
        working-directory: server

  Publish:
    needs: Build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - run: docker run --rm --privileged tonistiigi/binfmt --install all
      - run: >-
          docker buildx build --platform linux/arm64,linux/amd64
          --push --tag ${{ env.BUILD_IMAGE }}
        working-directory: server
